[Desktop Entry]
Name=vlog-now
GenericName=Wine Application
Comment=Wine-packaged Windows application
Type=Application
Terminal=false
Encoding=UTF-8
Version=0.4.2
Icon=vlog-now
Exec=vlog-now %F
StartupWMClass=VN.exe
Categories=Utility;
MimeType=
